.container{
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 20px #606060;
    padding: 20px 10px;
}

.container table {
    margin: 0 auto;
    width: 700px;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.input-main{
    /* background-color:red; */
    display: flex;
    flex-direction: column;
} 

.text{
    /* background-color: blue; */
    width: 200px;
    height: 30px;
    /* color: white; */
    
}

.text:hover{
    background-color:silver;
    
}

.Butt{
    background-color: navy;
    height: 36px;
    color: white;
    border: none;
    border-radius: 3px;
    

}

.Butt:Hover{
    background-color: silver;
}

.head{
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
   
    
}